#navBar {
    background-color: rgb(121, 113, 113);
    text-align: center;
}
#navBar li {
    padding: 1em;
}

#navBar a {
    text-decoration: none;
    color: white;
}
#pageTitle {
    position: absolute;
    left: -15000px;
}
.img:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

