*{
    box-sizing: border-box;
}
#navBar {
    background-color: rgb(121, 113, 113);
    padding: 1em;
    text-align: center;
}
#navBar ul {
    list-style-type: none;
}

#navBar li {
    display: inline;
    padding: 2em;
}

#navBar a {
    text-decoration: none;
        color: white;
}
.pageTitle {
    color: #dc181c;
    padding: 2%;
    font-weight: 600;
    text-align: center;
}
.warning {
    font-size: 2em;
    color: red;
    font-weight: 500;
}
.form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 5%;
}
textarea{
    resize: none;
}
p > iframe {
    padding: 3%;
}
h2 {
    color: #797171;
    padding: 2%;
    font-weight: 500;
    text-align: center;
}
h3 {
    padding: 5%;
    font-weight: 500;
    text-align: center;
}
.rightIntroductionParagraph, .leftIntroductionParagraph{    
    display: flex;
}
.rightIntroductionParagraph{
    width: 40%;
}
.leftIntroductionParagraph{
    width: 40%;

}
ul{
    list-style-type: square;
}
