#navBar {
    background-color: rgb(121, 113, 113);
    padding: 1em;
    text-align: center;
}
#navBar ul {
    list-style-type: none;
}

#navBar li {
    display: inline;
    padding: 2em;
}

#navBar a {
    text-decoration: none;
        color: white;
}
.pageTitle {
    color:#dc181c;
    font-weight: bold;
    margin: 2em;
    margin-left: 14em;
}
/* .form-control {
    width: 50%;
} */
.nameImput {
    width: 15%;
}
.emailImput {
    width: 15%;
}
